<ul>

   
<h2>Name: {{ pirates.name }}</h2>
<p><b>Birthplace:</b> {{ pirates.birthplace }}</p>
<p><b>Death Year:</b> {{ pirates.death_year }}</p>
<p><b>Base:</b> {{ pirates.base }}</p>
<p><b>Nickname:</b> {{ pirates.nickname }}</p>




</ul>